@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f8fc;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 20px;
  width: 940px;
  max-width: 100%;
  margin: 20px auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  width: 300px;
  overflow: hidden;
}

.card-header img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
}

.card-body h4 {
  margin: 10px 0;
}

.card-body p {
  font-size: 0.8rem;
  margin: 0 0 40px;
}

.tag {
  background-color: #333;
  border-radius: 50px;
  font-size: 0.7rem;
  color: #fff;
  margin: 0;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-red {
  background-color: red;
}

.tag-puprle {
  background-color: purple;
}

.tag-pink {
  background-color: pink;
  color: #333;
}

.tag-teal {
  background-color: teal;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #888785;
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
}
